.lsp-session-v1
.org-id-locations
PROJECT.org
\#*\#
abbrev_defs
auto-save-list/
bookmarks
custom.el
elpa
emojis/
eshell/
ido.last
init.el~
lib/our-circleci.el
org-capture-templates/
quelpa
recentf
request/
settings.el
smex-items
snippets/
testing.el
tmp/
tramp
transient/
url/
var/
