*.log
*~
.DS_Store
.README.el
.cache/
.cask/
.env
.lsp-session-v1
.org-id-locations
README.el
\#*\#
abbrev_defs
auto-save-list/
bookmarks
ddskk/
dump.rdb
el-get
elpa
emojis/
eshell/
eww-bookmarks
fly
games/
ido*.last
ido.last
image-dired/
init.el~
lib/our-circleci.el
network-security.data
org-capture-templates/
org-persist/
projectile-bookmarks.eld
projects
quelpa
recentf
request/
rust-toolchain
settings.el
smex-items
smex-items*
snippets/
supervisord.pid
testing.el
tmp/
tramp
transient/
tutorial
url/
var/
