*.log
*~
.lsp-session-v1
.org-id-locations
PROJECT.org
README.el
\#*\#
abbrev_defs
auto-save-list/
bookmarks
custom.el
el-get
elpa
emojis/
eshell/
eww-bookmarks
ido*.last
ido.last
init.el~
lib/our-circleci.el
network-security.data
org-capture-templates/
projectile-bookmarks.eld
projects
quelpa
recentf
request/
rust-toolchain
settings.el
smex-items
smex-items*
snippets/
supervisord.pid
testing.el
tmp/
tramp
transient/
tutorial
url/
var/
